TOKEN="сюда вставить токен бота"
MESSAGES_FILE_PATH="./data/messages.json"
BUILDINGS_FILE_PATH="./data/buildings.json"
LESSONS_FILE_PATH="./data/lessons.json"
LEVELS_FILE_PATH="./data/levels.json"
LOG_LEVEL="DEBUG"

POSTGRES_USER="имя пользователя базы данных"
POSTGRES_PASSWORD="пароль пользователя базы данных"
POSTGRES_DB="имя базы данных"
POSTGRES_HOST="хост базы данных"
POSTGRES_PORT="порт базы данных"
DB_CONNECTION=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
