# Linter
flake8
flake8-bugbear
flake8-builtins
flake8-commas
flake8-import-order
pep8-naming
pycodestyle

# Backend
alembic
flasgger
flask
flask_migrate
flask_sqlalchemy
flask_restful
marshmallow_sqlalchemy
sqlalchemy
waitress

# Synchronization
requests

# Telegram Bot Control
pytelegrambotapi

# .end variables
python-dotenv

# Requests
requests

# Schedule
schedule
